/*custom font*/
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-custom {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

/*miscellaneous*/
.container {
  width: 90%;
}

.margin-top {
  margin-top: 100px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.padding-bottom {
  padding-bottom: 50px;
}

.fluid-image {
  width: 100%;
  height: auto;
}

.margin-auto {
  margin: auto;
}

.hidden-element {
  visibility: hidden;
}

.flexcontainer {
  display: flex;
}

li a {
  text-align: center;
}

.delete-button {
  background-color: red;
  color: white;
}

.delete-button:hover {
  background-color: white;
  color: red;
}

.edit-button {
  background-color: green;
  color: white;
}

.edit-button:hover {
  background-color: white;
  color: green;
}

textarea {
  resize: none;
}

/* POPUP */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px 24px;
  background-color: #4caf50; /* Success color */
  color: white;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 2s ease-in-out;
  z-index: 1000;
}

.popup-success {
  background-color: #4caf50; /* Success color */
}

.popup-failure {
  background-color: #f44336; /* Failure color */
}

.popup.fade-out {
  opacity: 0;
}
